In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

In [2]:
data2 = pd.read_csv("./Rainfall Data in India.csv")

In [3]:
data2

,DISTRICT,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,SOUTH ANDAMAN,1950,0.8,0.0,0.0,95.5,264.2,369.9,366.7,347.3,494.5,224.6,89.3,169.4
1,SOUTH ANDAMAN,1951,82.7,7.2,0.0,45.4,259.0,619.9,665.3,101.3,360.9,489.0,209.6,434.8
2,SOUTH ANDAMAN,1952,0.0,0.8,69.7,39.4,452.9,657.7,385.5,541.3,240.3,315.6,287.5,89.2
3,SOUTH ANDAMAN,1953,27.0,78.4,0.0,133.4,261.7,481.0,561.3,308.2,399.6,299.5,262.0,65.7
4,SOUTH ANDAMAN,1954,37.4,0.5,35.3,56.9,451.8,611.8,599.7,817.0,1123.0,175.1,35.1,84.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32569,WEST MIDNAPORE,2006,0.0,0.0,12.8,56.9,113.9,152.4,417.6,446.8,333.7,40.9,1.0,0.0
32570,WEST MIDNAPORE,2007,2.1,61.2,102.8,49.7,47.1,287.6,766.6,370.5,458.9,12.4,11.5,0.0
32571,WEST MIDNAPORE,2008,72.8,6.3,20.6,102.4,110.6,793.1,314.2,263.6,338.9,48.5,0.0,0.0
32572,WEST MIDNAPORE,2009,0.0,0.0,29.6,5.7,381.6,54.1,223.6,279.8,276.4,58.5,4.3,0.0
32573,WEST MIDNAPORE,2010,0.1,0.8,1.0,1.5,246.0,199.6,201.6,147.4,200.7,100.7,3.1,15.7

In [7]:
data2['DISTRICT'].unique()

array(['SOUTH ANDAMAN', 'NICOBAR', 'NORTH ANDAMAN', 'ANANTAPUR',
       'CHITTOR', 'CUDDAPAH', 'EAST GODAVARI', 'GUNTUR', 'KRISHNA',
       'KURNOOL', 'NELLORE', 'PRAKASAM', 'SRIKAKULAM', 'VISAKHAPATNAM',
       'VIZIANAGARAM', 'WEST GODAVARI', 'EAST SIANG', 'LOHIT',
       'WEST KAMENG', 'BAKSA', 'BARPETA', 'CACHAR', 'DHUBRI', 'DIBRUGARH',
       'GOALPARA', 'GOLAGHAT', 'JORHAT', 'KAMRUP METROPOLI', 'KAMRUP',
       'KARBI ANGLONG', 'KOKRAJHAR', 'LAKHIMPUR', 'N.C. HILLS', 'NALBARI',
       'NOWGONG', 'SIBSAGAR', 'SONITPUR', 'TINSUKIA', 'UDALGURI',
       'ARARIA', 'ARWAL', 'BANKA', 'BEGUSARAI', 'BHABUA', 'BHAGALPUR',
       'BHOJPUR', 'BUXAR', 'CHAMPARAN.EAST', 'CHAMPARAN.WEST',
       'DARBHANGA', 'GAYA', 'GOPALGANJ', 'JAHANABAD', 'JAMUI', 'KATIHAR',
       'KHAGARIA', 'KISHANGANJ', 'MADHEPURA', 'MADHUBANI', 'MUNGER',
       'MUZAFFARPUR', 'NALANDA', 'NAWADAH', 'PATNA', 'PURNEA', 'ROHTAS',
       'SAHARSA', 'SAMASTIPUR', 'SARAN', 'SHEIKHPURA', 'SITAMARHI',
       'SIWAN', 'SUPAUL', 'VAISHALI', 'BASTAR', 'DANTEWARA', 'DHAMTARI',
       'DURG', 'JANJGIR', 'JASHPURNAGAR', 'KANKER', 'KORBA', 'KOREA',
       'KOWARDHA', 'MAHASAMUND', 'NARAYANPUR', 'RAIGARH', 'RAIPUR',
       'RAJNANDGAON', 'SURGUJA', 'NORTH GOA', 'SOUTH GOA', 'AHMEDABAD',
       'AMRELI', 'ANAND', 'BANASKANTHA', 'BARODA', 'BHAUNAGAR', 'BROACH',
       'DANGS', 'DOHAD', 'JAMNAGAR', 'JUNAGADH', 'KHEDA', 'KUTCH',
       'MEHSANA', 'NARMADA', 'NAVSARI', 'PANCHMAHALS', 'PATAN',
       'PORBANDAR', 'RAJKOT', 'SABARKANTHA', 'SURAT', 'SURENDRANAGAR',
       'TAPI', 'VALSAD', 'AMBALA', 'BHIWANI', 'FARIDABAD', 'FATEHABAD',
       'GURGAON', 'HISSAR', 'JHAJJAR', 'JIND', 'KAITHAL', 'KARNAL',
       'KURUKSHTRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL', 'PANCHKULA',
       'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONEPAT', 'YAMUNANAGAR',
       'CHAMBA', 'KANGRA', 'KINNAUR', 'KULU', 'LAHUL AND SPITI', 'MANDI',
       'SIMLA', 'SIRMUR', 'SOLAN', 'UNA', 'BOKARO', 'CHATRA', 'DEOGHAR',
       'DHANBAD', 'DUMKA', 'GARHWA', 'GIRIDIH', 'GODDA', 'GUMLA',
       'HAZARIBAGH', 'JAMTARA', 'KHUNTI', 'KODARMA', 'LATEHAR',
       'LOHARDAGA', 'PAKUR', 'PALAMAU', 'RAMGARH', 'RANCHI', 'SAHEBGANJ',
       'SERAIKELA', 'SIMDEGA', 'SINGBHUM EAST', 'SINGBHUM WEST',
       'ANANTNAG', 'BARAMULLA', 'DODA', 'JAMMU', 'KULGAM', 'KUPWARA',
       'LADAKH', 'SRINAGAR', 'UDHAMPUR', 'BAGALKOTE', 'BANGALORE RURAL',
       'BANGALORE URBAN', 'BELGAUM', 'BELLARY', 'BIDAR', 'CHAMARAJNAGAR',
       'CHICKBALLAPUR', 'CHICKMAGALUR', 'CHITRADURGA', 'DAVANAGERE',
       'DHARWAR', 'GADAG', 'GULBARGA', 'HASSAN', 'HAVERI', 'KANARA NORTH',
       'KANARA SOUTH', 'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE',
       'RAICHUR', 'RAMNAGARA', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'YADGIR',
       'ALAPUZZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR', 'KASARGOD', 'KOLLAM',
       'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM', 'PALAKKAD',
       'PATHANAMTHITTA', 'THRISSUR', 'THIRUVANANTHAPUR', 'WAYANAD',
       'LAKSHADWEEP', 'EAST KHASI HILLS', 'WEST GARO HILLS', 'AHMEDNAGAR',
       'AKOLA', 'AMRAOTI', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR',
       'DHULE', 'GADCHIROLI', 'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA',
       'KOLHAPUR', 'LATUR', 'MUMBAI CITY', 'NAGPUR', 'NANDED',
       'NANDURBAR', 'NASIK', 'OSMANABAD', 'PARBHANI', 'PUNE', 'RAIGAD',
       'RATNAGIRI', 'SANGLI', 'SATARA', 'SHOLAPUR', 'SINDHUDURG', 'THANE',
       'WARDHA', 'WASHIM', 'YEOTMAL', 'IMPHAL EAST', 'AIZWAL',
       'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR', 'BALAGHAT', 'BARWANI',
       'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR', 'CHHATARPUR', 'CHINDWARA',
       'DAMOH', 'DATIA', 'DEWAS', 'DHAR', 'DINDORI', 'GUNA', 'GWALIOR',
       'HARDA', 'HOSHANGABAD', 'INDORE', 'JABALPUR', 'JHABUA', 'KATNI',
       'KHANDWA', 'MANDLA', 'MANDSAUR', 'MORENA', 'NARSINGHPUR',
       'NEEMUCH', 'PANNA', 'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA',
       'SEHORE', 'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI',
       'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA', 'KOHIMA',
       'CENTRAL DELHI', 'NEW DELHI', 'WEST DELHI', 'ANGUL', 'BALASORE',
       'BARGARH', 'BHADRAK', 'BOLANGIR', 'CUTTACK', 'DHENKANAL',
       'GAJAPATI', 'GANJAM', 'JAGATSINGPUR', 'JAJPUR', 'JHARSUGUDA',
       'KALAHANDI', 'KANDHAMAL', 'KEONJHAR', 'KHURDA', 'KORAPUT',
       'MALKANGIRI', 'MAYURBHANJ', 'NAWAPARA', 'NOWRANGAPUR', 'PURI',
       'RAYAGADA', 'SAMBALPUR', 'SONEPUR', 'SUNDARGARH', 'AMRITSAR',
       'BARNALA', 'BHATINDA', 'FARIDKOT', 'FATEHGARH SAHIB', 'FEROZEPORE',
       'GURDASPUR', 'HOSHIARPUR', 'JULLUNDAR', 'KAPURTHALA', 'LUDHIANA',
       'MANSA', 'MOGA', 'MUKTESAR', 'PATIALA', 'ROOPNAGAR', 'SANGRUR',
       'SAS NAGAR', 'TARAN TARAN', 'AJMER', 'ALWAR', 'BANSWARA', 'BARAN',
       'BARMER', 'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI',
       'CHITTORGARH', 'CHURU', 'DAUSA', 'DHOLPUR', 'DUNGARPUR',
       'GANGANAGAR', 'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE',
       'JHALAWAR', 'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTAH', 'NAGOUR',
       'PALI', 'RAJASMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI', 'TONK',
       'UDAIPUR', 'ARIYALUR', 'CHENNAI', 'COIMBATORE', 'CUDDALORE',
       'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KANCHEEPURAM', 'KANNIYAKUMARI',
       'KARUR', 'KRISHNAGIRI', 'MADURAI', 'NAGAPATTINAM', 'NAMAKKAL',
       'NILGIRIS', 'PERAMBALUR', 'PUDUKOTTAI', 'RAMANATHAPURAM', 'SALEM',
       'SIVAGANGA', 'TANJAVUR', 'THENI', 'THIRUVALLUR', 'TIRUVANNAMALAI',
       'THIRUVARUR', 'TIRUNELVELI', 'TIRUPPUR', 'TIRUCHIRAPALLI',
       'THOOTHUKUDI', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR', 'ADILABAD',
       'HYDERABAD', 'KARIMNAGAR', 'KHAMMAM', 'MAHBUBNAGAR', 'MEDAK',
       'NALGONDA', 'NIZAMABAD', 'RANGAREDDY', 'WARANGAL', 'DHALAI',
       'NORTH TRIPURA', 'SOUTH TRIPURA', 'WEST TRIPURA', 'CHANDIGARH',
       'DIU', 'PUDUCHERRY', 'ALMORA', 'CHAMOLI', 'CHAMPAWAT', 'HARDWAR',
       'NAINITAL', 'DEHRA DUN', 'PAURI GARHWAL', 'PITHORGARH',
       'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UTTAR KASHI', 'UDHAM SINGH NGR',
       'AGRA', 'ALIGARH', 'ALLAHABAD', 'AMBEDKAR NGR', 'AURAIYA',
       'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALLIA', 'BALRAMPUR', 'BANDA',
       'BARA BANKI', 'BAREILLY', 'BASTI', 'BIJNOR', 'BUDAUN',
       'BULANDSHAHR', 'CHANDAULI', 'DEORIA', 'ETAH', 'ETAWAH', 'FAIZABAD',
       'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD', 'GAZIABAD', 'GHAZIPUR',
       'GONDA', 'GORAKHPUR', 'HARDOI', 'J.PHULE NAGAR', 'JALAUN',
       'JAUNPUR', 'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR',
       'KANSHIRAM NAGAR', 'KAUSHAMBI', 'KHERI LAKHIMPUR', 'KHUSHINAGAR',
       'LALITPUR', 'LUCKNOW', 'MAHAMAYA NAGAR', 'MAHARAJGANJ', 'MAHOBA',
       'MAINPURI', 'MATHURA', 'MAU', 'MEERUT', 'MIRZAPUR', 'MORADABAD',
       'MUZAFFARNAGAR', 'PILIBHIT', 'RAE BARELI', 'RAMPUR', 'S.KABIR NGR',
       'SAHARANPUR', 'SHAHJAHANPUR', 'SIDDHARTHNAGAR', 'SITAPUR',
       'SONBHADRA', 'SULTANPUR', 'UNNAO', 'VARANASI', '24 PARGANAS N',
       '24 PARGANAS S', 'BANKURA', 'BIRBHUM', 'BURDWAN', 'COOCH BEHAR',
       'DARJEELING', 'DINAJPUR NORTH', 'DINAJPUR SOUTH', 'EAST MIDNAPORE',
       'HOOGLY', 'HOWRAH', 'JALPAIGURI', 'KOLKATA', 'MALDA',
       'MANBHUM PURULIA', 'MURSHIDABAD', 'NADIA', 'WEST MIDNAPORE'],
      dtype=object)

In [4]:
data2.isnull().sum()

DISTRICT       0
YEAR           0
JAN         1951
FEB         2062
MAR         1928
APR         1830
MAY         1890
JUN         1926
JUL         1891
AUG         1947
SEP         1992
OCT         2043
NOV         2172
DEC         2080
dtype: int64

In [7]:
data2.fillna(data2.mean(), inplace=True)

C:\Users\adity\AppData\Local\Temp\ipykernel_23168\665712968.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data2.fillna(data2.mean(), inplace=True)

In [8]:
label_encoder = LabelEncoder()
data2['DISTRICT'] = label_encoder.fit_transform(data2['DISTRICT'])

In [9]:
data_long = pd.melt(data2, id_vars=['DISTRICT', 'YEAR'], var_name='MONTH', value_name='RAINFALL')

In [10]:
months_map = {'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6,
              'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12}
data_long['MONTH'] = data_long['MONTH'].map(months_map)

In [11]:
X = data_long[['DISTRICT', 'YEAR', 'MONTH']]
y = data_long['RAINFALL']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

In [ ]:
def predict_rainfall(district, year, month):
    district_encoded = label_encoder.transform([district])[0]
    features = [[district_encoded, year, month]]
    prediction = model.predict(features)
    return prediction[0]

# Example prediction
district = 'SOUTH ANDAMAN'
year = 2011
month = 5  # May
predicted_rainfall = predict_rainfall(district, year, month)
print(f"Predicted rainfall for {district} in {year} for month {month}: {predicted_rainfall} mm")